# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\engin_demirog_java_project\kodlama.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
